

/* first section style */
.hero{
    width: 1320px;
    height: 600px;
    margin: 50px 140px;
    color: rgba(255, 255, 255, 1);
    background-image: repeating-linear-gradient(rgba(7, 2, 17, 1) 0%, rgba(7, 2, 17, 0) 100%);
    border-radius: 18px;
}

.hero-container{
    text-align: center;
    padding: 177px 344px;
}
.hero-title{
    font-size: 32px;
    color: #FFFFFF;
}

.hero-sub-title{
    font-size: 72px;
    color: #FFFFFF;
}

/* section 2 style */

.hero-2{
    width: 802px;
    height: 806px;
    background-color:white;
    margin: 120px 400px;
    align-items: center;
}

.hero-2-greetings{
    font-weight: bold;
    font-size: 88px;
    color: #FF0000;
    text-align: center;
}

.hero-2-title{
    font-size: 24px;
    font-weight: 600;
    color: #FF0000;
    text-align: center;
}

.hero-2-sub-title{

    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

/* section 3 style */

.hero-3{
    width: 1320px;
    height: 600px;
    /* background-image:repeating-radial-gradient( left right, rgba(7, 2, 17, 1) 100%, rgba(7, 2, 17, 0) 0%,); */
    /* background-image: linear-gradient(to left right, rgba(7, 2, 17, 1) 0%, rgba(7, 2, 17, 0) 100%); */
    /* background-image: repeating-linear-gradient(rgba(7, 2, 17, 1) 0%, rgba(7, 2, 17, 0) 100%); */
    background: linear-gradient(to right, #000000, #ffffff);
    border-radius: 10px;
    margin: 120px 140px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    /* background-color: aqua; */
    /* height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; */
    
}
.hero-3-container{
    padding: 126px 126px 94px 142px;
}
.hero-3-title{
    font-size: 64px;
    font-weight: 900px;
    color: #FFFFFF;
}

.hero-3-sub-title{
    font-size: 18px;
    font-weight: 400px;
    color: #FFFFFF;
}

.hero-3-botton{
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
}

/* section 4 style */

.hero-4{
    background-image: repeating-linear-gradient(rgba(255, 0, 0, 0.45) 0%, rgba(255, 0, 0, 0) 100%);
    width: 1320px;
    height: 482px;
    /* background-color: red; */
    margin: 120px 140px;
    border-radius: 16px;
    text-align: center;
}

.hero-4container{
    font-size: 28px;
    font-weight: 700px;
    padding: 100px;
}

.btn-color{
    color: rgba(255, 0, 0, 1);
}

.btn-primary {
    background-color: red;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
}

/* hero 5 styless */

.hero-5{
    width: 1320px;
    height: 463px;
    /* background-color: aqua; */
    margin: 120px 140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero-5-container{
    /* text-align: center;
    padding: 10px 20px; */
    /* gap: 15px; */
    width: 393px;
    height: 255px;
}

.hero-5-greeting{
    font-size: 24px;
    color: #FF0000;
    font-weight: 500px;
}

.hero-5-title{
    font-size: 48px;
    color: #070211;
    font-weight: 900px;
}

.hero-5-sub-title{
    font-size: 20px;
    color: #070211;
}

.hero-5-circle{
    width: 450px;
    height: 450px;
    border: 10px solid red;
    border-radius: 50%;
}

.hero-5-1-greeting{
    font-size: 48px;
    font-weight: bold;
    color: #FF0000;

}

.hero-5-abba{
    gap: 16px;
}

.hero-5-text{
    text-align:justify;
    gap: 16px;
}

.hero-5-pic{
    font-size: 20px;
    width: 140px;
    height: 140px;
}

.hero-5-sub-title-2{
    width: 276px;
    height: 170px;
}

/* section 6 style */

.hero-6{
    width: 1320px;
    height: 986px;
    /* background-color: aqua; */
    margin: 120px 140px;
}

.hero-6-container{
    text-align: center;
    padding: 20px 150px;
}

.hero-6-great{
    font-size: 24px;
    font-weight: 600;
    color: #070211;
}

.hero-6-btn{
    color: #FF0000;
}

.hero-6-sub-title{
    color: #070211;
    font-size: 20px;
    font-weight: 500;
}

.hero-6-title{
    font-size: 72px;
    font-weight: 900px;

}

.partho{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

/* ektar upor arekta picture add korte amn korte hobe */
.ringku{
    position: relative;
    width: 300px;
    height: 300px;
}

.hero-6-2-pic{
    position: absolute;
    width: 796px;
    height: 662px;
    /* object-fit: cover; */
}

.hero-6-1-pic{
    position: absolute;
    width: 1320px;
    height: 229px;
    /* top: 100px;
    left: 100px; */
    top: 500px;
}

.hero-6-3-pic{
    width: 305px;
    height: 305px;
}

/* section 7 style */

.hero-7 {
    width: 1320px;
    height: 1163px;
    /* background-color: #FF0000; */
    margin: 200px 140px;
    text-align:justify;
}

.hero-7-art{
    color: #FF0000;
    font-size: 24px;
    font-weight: 500px;
}

.hero-7-art-2{
    font-size: 48px;
    font-weight: 800px;
    color: #070211;
}

/* section 8 style */

.hero-8{
    width: 1320px;
    height: 616px;
    background-color:rgba(254, 10, 10, 0.05);
    margin: 120px 140px;
}

.div-8{
    text-align: center;
}

.pic-art{
    font-size: 48px;
    font-weight: 900;
}

.ringku-art{
    text-align: center;
}

.ayat{
    border-radius: 10px 0px 0px 10px;
}

.minna{
background-color: #FF0000;
color:#FFFFFF;
border-radius: 0px 10px 10px 0px;
}
/* footer work */
.shanto{
    width: 1600px;
    height: 609px;
    background-color: #070211;
}

.shanto-1{
    display: flex;
    justify-content: space-around;
}
.shohag{
    font-size: 24px;
    font-weight: 600;
    color:#FFFFFF;
}

.shohag2{
    font-size: 24px;
    font-weight: 600;
    color:#FFFFFF;
}

.shanto-2{
    text-align: center;
    padding: 150px 100px;
}

.shanto-3{
    display: flex;
    color: #FFFFFF;
    justify-content: space-around;
    padding: 10px 10px 10px 10px;
}